:root {
  --tangerine: #e47323;
  --tangerine-light: #eb8948;
  --tangerine-dark: #d86b22;
  --teal: #336b74;
  --powder: #98bbbd;
  --powder-dark: #4da5aa;
  --tan: #f1aa7e;
  --gray: #f1f1ef;
  --dark-gray: #dbdbdb;
  --darker-gray: rgb(160, 160, 160);
  --shadow: rgb(41, 41, 41);
}

body {
  background-color: var(--powder);
  font-size: 15px;
  font-family: 'Nunito';
}

.navbar {
  padding: 0;
  -moz-box-shadow: 0 0 10px 0 var(--shadow);
  -webkit-box-shadow: 0 0 10px 0 var(--shadow);
  box-shadow: 0 0 10px 0 var(--shadow);
}

.navbar-light {
  background-color: var(--gray);
  /* color: var(--teal); */
}

.navbar-brand {
  margin-top: -5px;
  padding: 0;
  font-family: 'Bungee Shade';
  font-size: 2em;
  color: var(--teal) !important;
}

.navbar-nav li {
  padding: 5px;
}

.nav-link {
  padding: 0;
}

.active {
  background-color: var(--dark-gray);
  border: 1px solid;
  border-color: var(--darker-gray);
  border-radius: 5px;
}

.dropdown-menu {
  background-color: var(--gray);
}

.dropdown-item {
  color: rgba(0, 0, 0, 0.5);
}

.dropdown-item:hover {
  background-color: var(--powder) !important;
  color: rgba(0, 0, 0, 0.5);
}

.dropdown-item:active {
  background-color: var(--powder-dark) !important;
  color: var(--gray);
}

.btn {
  background-color: var(--tangerine);
  border-color: var(--tangerine-light);
}

.btn:hover {
  background-color: var(--tangerine-light) !important;
  border-color: var(--tangerine-light);
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}

.btn:active {
  background-color: var(--tangerine-dark) !important;
  border-color: var(--tangerine-dark) !important;
}

#login-btn {
  font-size: 1em;
  padding: 0.2em 0.55em 0.3em 0.55em;
}

.fixed {
  position: fixed;
  z-index: 10;
  width: 100%;
  line-height: 1;
}

.filter-container {
  background-color: var(--teal);
  color: rgb(230, 230, 230);
  padding: 10px 30px 0 30px;
}

#filter-row {
  border-bottom: solid 1px var(--powder);
}

.event-container {
  background-color: var(--teal);
  color: white;
  padding: 56px 30px 0 30px;
  -moz-box-shadow: 0 0 10px 0 var(--shadow);
  -webkit-box-shadow: 0 0 10px 0 var(--shadow);
  box-shadow: 0 0 10px 0 var(--shadow);
}

#filter-title {
  font-size: 1.3em;
  margin-right: 15px;
}

#future-checkbox-label {
  margin-bottom: 0;
  margin-left: 5px;
}

.event {
  margin: 15px 0 0 0;
  border-bottom: solid 1px var(--powder);
  padding: 0;
  padding-bottom: 10px;
}

.event:last-child {
  border-bottom: none;
}

.date {
  color: var(--tan);
}

.day {
  font-size: 0.9em;
}

.time {
  font-size: 1em;
}

.location {
  color: var(--tan);
}

.at {
  font-size: 1.3em;
}

.title {
  font-size: 1.6em;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: 'Source Sans Pro';
  border-radius: 5px;
}

.guests {
  vertical-align: middle;
  float: left;
  color: var(--tan);
}

.btn-join {
  float: right;
}

.description-header {
  color: var(--tan);
}

.description {
  font-family: 'Source Sans Pro';
}

.new-event-container {
  color: white;
  background-color: var(--teal);
  padding: 20px 30px 0 30px;
  -moz-box-shadow: 0 0 10px 0 var(--shadow);
  -webkit-box-shadow: 0 0 10px 0 var(--shadow);
  box-shadow: 0 0 10px 0 var(--shadow);
}

.label {
  text-align: right;
}

.input-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-input {
  display: block;
  overflow: hidden;
}

.form-input input {
  width: 100%;
}

.form-input textarea {
  width: 100%;
}

.react-datetime-picker {
  background-color: white;
  color: black;
  z-index: 1;
}
